body{
background:#fff;
color:#585858;
font-family: arial;
font-size: 16px;
text-shadow:1px 1px 0 rgba(0,0,0,.3);
padding: 10px;
}

header{
margin-top: 1%;
border: 3px solid;
border-color:#000;
display: inline-block;
padding: 10px;

}

nav ul{
background: #000000;
font-size: 0;
padding:0 ;
margin-bottom: 1%;

}
nav ul li{
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
display: inline-block;
font-size: 16px;
height: 50px;
padding: 20px;
text-align: center;
vertical-align: top;
width: 25%;

}

nav ul li a:hover{
	color: #FFBF00;
	
}
nav ul li a{
color:white;
text-transform: uppercase;
text-decoration:none;

}
a{text-decoration:none;}
#baner{
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	position: relative;
}

#baner img{
	padding: 0 auto;
	margin: 0 auto;
	width:100%; 
	height:250px;
	position: relative;

}

#baner #sign{
	top: 5%; 
	left:95%;
	z-index: 3;
	width: 40px;
	height: auto;
	position: absolute;

}
#baner #sign img{
	width: 40px;
	height:40px;
	transition: all 1s ease-in;
	-webkit-transition: all .6s ease-in;
	-moz-transition: all .6s ease-in;
	-o-transition: all .6s ease-in;
}
#baner #sign img:hover {
	transform: rotate (364deg) traslateX(10px);
	-webkit-transform: rotate(364deg);
	-moz-transform: rotate(364deg);
	-o-transform: rotate(364deg);
}


#baner #sign button{
	width: 150px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Cinzel', serif;
	box-shadow: inset 0 0 10px #000;
}
#baner #sign button:hover{
 color: orange;
}


.avatar, .personal{
float:left;

}
.avatar{
border: red;
border-radius: 5px ;
margin-left: 10px;

}
#page{
	
	margin-top: 40%;
	margin: 0 auto;
	padding: 0 auto;
	margin-bottom: 2%;
	max-width: 100%;

	
}


#contenedor{
	margin: 0 auto;
	max-width: 1000px;
	
}
#publicacion{
	height: 55%;
	width: 100%;
}
#publicacion article{
	padding-top:5%;
	padding-bottom: 5%;
	text-align: justify;

}
#publicacion article #horario{
	margin: 0 auto;
	padding: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width:98%;
	height: 80%;
}
#webs{

background-color: #E6E6E6;
border-radius: 20px;
padding: 20px;
text-align: center;
}
#webs article{ 
background-color: gray;
border: 1px solid white;
color: black;
display: inline-block;	
margin: 10px;
padding: 10px;
width:150px;
text-align: center;

}
#webs article a{
	text-decoration: none;
}

#webs article img{
	-webkit-transition: .2s;

}

#webs article:hover img{

	-webkit-transform:scale(1.1);
}

footer{


	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 1%;
	border: solid black;
	border-width: 2px 0px 0px 0px;
}

@media screen and(max-width: 580px){

nav ul li{
	width: 50%;
}

}




ul li:hover > #horarios {
	display: block;
		
}
	nav ul li a{
	color:white;
	text-transform: uppercase;

}
 ul li #horarios{
	display:none;
}

 ul li #horarios li {
background:;
display: block;
color:white;
margin:1px;


}