* { margin:0; padding: 0; list-style: none; }
body { font-family: Arial,Tahoma;  }

#page { margin: 0 auto; width:600px;  margin-top: 20px; margin-bottom: 20px; border: 1px; box-shadow: #999 1px 1px 3px; }

